
/* Imports */
@import url("reset.css");

@font-face {
    font-family: 'SpaceText';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/SpaceText-webfont/SpaceText-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Combined';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/combined-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Vega';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/vega-regular-webfont.woff') format('woff');
}


@font-face {
    font-family: 'Sirius';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Sirius-Book-webfont.woff') format('woff');
}


/*
-------------------------------
          Variables
-------------------------------
*/

:root {
  --font-size: 1em;
  --margin: 20px;
  --spacing-unit: 8%;
  --width: 80%;
}



/*
-------------------------------
            Header
-------------------------------
*/

.header {
  position:fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 4em;
  /*max-height: 45px;*/
  border-bottom: 2px solid black;
  color: black;
}

.header h1 a {
  display: inline-block;
  font-family: 'Combined';
  font-size: calc(var(--font-size)*1.8);
  padding: 0;
}

.header h1 {
  display: inline-block;
  padding: calc(var(--font-size)*1.5) 0 var(--font-size) var(--spacing-unit);
}

.header a {
  font-family: 'Sirius';
  font-size: calc(var(--font-size)*1);
  text-decoration: none;
  display: inline-block;
  color: black;
  padding: var(--font-size) 0 var(--font-size) var(--font-size);

}

span {visibility: hidden;}


/*
-------------------------------
            Général
-------------------------------
*/

html {
  overflow-x: hidden;
  max-width: 1420px;
  /* background-image: url("../img/background.png"); */
  background-repeat: no-repeat;
}


body {
  width: 100%;
  /* margin: 0% 5% 5% 2%; */
  margin: var(--spacing-unit);
}

img {
  max-width: 100%;
  max-height: 250px;
  margin: calc(var(--font-size)/2) 0 calc(var(--font-size)/2) 0;
  /*border: 1px solid black;*/
}

/* hide the title */
.entry-title {visibility: hidden;}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

h4 {
  font-family: 'Combined';
  font-size: calc(var(--font-size)*8);
  margin: calc(var(--font-size)*1) 0 0 0;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FF8C00;
  word-spacing:0.02em;
  text-align: center;
  max-width: var(--width);
}

h4:first-of-type {
  margin: calc(var(--spacing-unit)*1.5) 0 0 0;
}

h2 {
  font-family: 'Combined';
  font-size: calc(var(--font-size)*1.5);
  margin: calc(var(--margin)*5) 0 calc(var(--margin)*1) 0;
}

h3 {
  font-family: 'Sirius';
  font-size: calc(var(--font-size)*1.2);
  margin: calc(var(--margin)*4) 0 0 0;
  padding: 0 0 calc(var(--margin)*1) 0;
  text-align: left;
  max-height: 60px;
  max-width: var(--width);
  border-bottom: 1px solid black;
}

/* ul li {
  font-family: 'Sirius';
  line-height: 1.2em;
} */

a, a.visited {
  color:#ff33cc;
  text-decoration: none;
}

table {
  width: var(--width);
  margin: calc(var(--margin)*2) 0 0 0;
}

td {
  font-family: 'Sirius';
  font-size: calc(var(--font-size)*1.2);
  border: 1px solid black;
  padding: 0.5rem;
  text-align: left;
}

.jour {
  font-family: 'Sirius';
  font-size: calc(var(--font-size)*1.2);
  padding: 0 0 calc(var(--margin)*0.5) 0.5rem;
  text-align: left;
  border: none;
}

footer {height: 2em;}



/*
-------------------------------
            Styles
-------------------------------
*/

.introduction {
  font-family: 'Sirius';
  font-size: calc(var(--font-size)*1.8);
  line-height: calc(var(--font-size)*1.3);
  margin: calc(var(--margin)*8)0 0 0;
  max-width: var(--width);
}

.presentation {
  font-family: 'Sirius';
  font-size: calc(var(--font-size)*1.1);
  line-height: calc(var(--font-size)*1.3);
  margin: calc(var(--font-size)*1) 0 calc(var(--font-size)*1.2) 0;
  max-width: var(--width);

  -webkit-columns: 320px 2;
  -moz-columns: 320px 2;
        columns: 320px 2;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.liens {
  font-family: 'Sirius';
  font-size: calc(var(--font-size)*1);
  margin: 0 0 calc(var(--font-size)*1.2) 0;
}
